/* BarraLateral.css */
.barra-lateral {
  background-color: #071224;
  color:#fff;
  width: 250px; /* Ajustar ancho para evitar conflictos */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  padding: 20px; /* Espaciado interno adecuado */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  position: fixed; /* Barra lateral fija */
  top: 0;
  left: 0;
}

.barra-lateral h3 {
  font-size: 18px;
  font-weight: bold;
  color: #6a5ae0;
}

.barra-lateral .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #6c757d;
  border-radius: 8px;
  padding: 10px 15px;
  transition: all 0.3s;
}

.barra-lateral .nav-link:hover {
  background-color: #ececec;
  color: #333;
}

.barra-lateral .nav-link i {
  font-size: 18px;
  color: #6a5ae0;
}

.barra-lateral .nav-item:not(:last-child) {
  margin-bottom: 10px;
}
