.formEditar2 {
    max-width: 500px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #bfe6db;
    border-radius: 8px;
    background-color: #f7f8f9;
    box-shadow: 0 2px 10px rgba(230, 71, 71, 0.1);
    box-sizing: border-box; /* Asegura que el padding no sobrepase el ancho */
    margin-top: 200px;
  }
  
  /* Estilos para los label */
  .label2 {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
    color: #020202;
  }
  
  /* Estilos para los inputs */
  .inputs2 {
    width: 100%; /* Aseguramos que los inputs ocupen todo el ancho disponible */
    padding: 10px;
    margin-bottom: 15px; /* Separación entre campos */
    border: 1px solid #11aeb9;
    border-radius: 7px;
    font-size: 1rem;
    box-sizing: border-box;
    
  }
  
  /* Estilos para los mensajes de error */
  .error-text {
    color: #e74c3c;
    font-size: 0.875rem;
    margin-top: 5px;
    display: block;
  }
  
  /* Estilo del botón */
  .botonActualizar {
    background-color: #3498db;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 20px auto; /* Centrado automático */
    width: 100%; /* Ocupa el 100% del ancho disponible */
  }
  
  .botonActualizar:hover {
    background-color: #2980b9;
  }
  
  /* Media Queries: para que se adapten a las pantallas pequeñas o grandes */
  @media (max-width: 768px) {
    .formEditar2 {
      padding: 15px; /* Menos padding para pantallas más pequeñas */
    }
  
    .label2, .inputs2, .botonActualizar {
      font-size: 0.9rem; /* Reducir tamaño de fuente para pantallas más pequeñas */
    }
  
    .inputs2 {
      margin-left: 0; /* Eliminar márgenes innecesarios */
    }
  }
  