.heroHome0 {
    /* Puedes agregar margen inferior para separar de la siguiente sección */
    margin-bottom: 50px; /* Ajusta el valor según sea necesario */
    margin-top: 15px; /*Ajusta el valor segun sea necesario*/
  }
  
  .inicioHome {
    /* O agrega margen superior para separar del anterior */
    margin-top: -20px; /* Ajusta el valor según sea necesario */
  }
  
  