.testimonial3-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Asegura que las tarjetas se acomoden bien */
}

.testimonial3-card, .testimonial3-card, .testimonial3-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-top: -290px;
  margin-left: 1350px;
}

.testimonial3-card:hover {
  transform: translateY(-10px);
}

.testimonial3-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial3-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.testimonial3-card p {
  font-size: 1rem;
  color: #666;
}

/* Responsivo para Testimonios */
@media (max-width: 768px) {
  .testimonial3-card, .testimonial2-card, .testimonial3-card {
    width: 100%; /* Ocupan todo el ancho en pantallas pequeñas */
    margin: 10px 0;
  }

  .testimonial3-card h3 {
    font-size: 1.1rem;
  }

  .testimonial3-card p {
    font-size: 0.9rem;
  }
}
